<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <!--<target name="consoleLog" xsi:type="Console" layout="${longdate} ${level} ${logger} ${message}"/>-->
      <target name="file" xsi:type="AsyncWrapper" queueLimit="5000" overflowAction="Discard">
        <target name="file" xsi:type="File" layout="${longdate} ${level} ${logger} ${message} ${exception:format=tostring} ${exception:innerFormat=Message,StackTrace}" fileName="c:/logs/AutoUpdater/${shortdate}.log"/>
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="file"/>
    </rules>
  </nlog>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="IntervalInMilliseconds" value="60000" /><!-- 1 Min -->
    <add key="ChocolateyPath" value="C:\ProgramData\chocolatey\bin\choco.exe" />
  </appSettings>
</configuration>
